Flask>=0.9
gunicorn
Flask-SQLAlchemy
Flask-Security
Flask-Assets
Flask-Script
Flask-OAuthlib
Flask-WTF
Flask-Testing
WTForms-Alchemy
SQLAlchemy
Werkzeug
requests
alembic
blinker
ipaddress
mimerender
Cerberus
jsmin==2.0.3
cssmin
requests_oauthlib
unittest2
-e .