Flask>=0.9
gunicorn
Flask-SQLAlchemy
Flask-Security
Flask-Assets
Flask-Menu
Flask-Breadcrumbs
Flask-Script
Flask-OAuthlib
Flask-WTF
Flask-Testing
Flask-Registry
Flask-Email
WTForms-Alchemy
SQLAlchemy
Werkzeug
requests
alembic
blinker
ipaddress
mimerender
Cerberus
jsmin==2.0.3
cssmin
unittest2
six
-e .
