flask-headers
git+https://github.com/inveniosoftware/flask-ratelimiter@3b2f84e8b12c2eb3d0f90e760e2a43f17de81c2b#egg=flask-ratelimiter
flask-cors==1.9.0
flask-RESTful
flask-sslify
Flask>=0.9
gunicorn
psycopg2
Flask-SQLAlchemy
Flask-Security
Flask-Menu
Flask-Script
Flask-Breadcrumbs
oauthlib==0.7.2
git+https://github.com/lepture/flask-oauthlib.git@e092a5f46ff6c78d313a6eb2f89ee746fb190dfb#egg=Flask-OAuthlib
Flask-WTF==0.11
WTForms-Alchemy
Flask-Testing
Flask-Registry
Flask-Email
Flask-Mail
SQLAlchemy
sqlalchemy-utils==0.27.7
Werkzeug
requests
alembic
six
redis
ConcurrentLogHandler
git+https://github.com/adsabs/flask-consulate@95506c5b1641f38a02b426de7a36cdd68f6f16d1#egg=flask-consulate
.
